<h2>Welcome to {{title}}</h2>
<h3>Input server info</h3>

<input type="text" placeholder="Server name" [(ngModel)]="ServerName">
<!-- <input type="text" placeholder="Server name" [ngModel]="ServerName"> -->
<h3>Display server info</h3>
<p>{{ServerName}}</p>
<p>{{ServerPID}}</p>
<p>{{ServerStatus}}</p>

<!-- <p>Server name {{ServerName}} with PID {{ServerPID}} is {{toggleServerStatus()}}</p> -->

<button [disabled]="buttonState" (click)="toggleServerStatus()">Toggle Server Status</button>
<hr/>
<hr/>
<app-assignment2></app-assignment2>
<hr/>
<hr/>
<app-ass3-directives></app-ass3-directives>
<hr/>
<hr/>
<app-ass4-directives></app-ass4-directives>


<!-- <div class="starter-template">
  <label for="Fname"></label>
  <input type="text" name="Fname" [(ngModel)]="name">
  <p>{{name}}</p>
</div>

<p class="jumbotron">Hello, my name is {{name}}</p> -->

